.mytunes-msg-box {
    
}


/************** AUDIO PLAYER *************/

.mytunes-audio-player {
    height:20px;
    width:128px;
    overflow:hidden;
    border:0;
    padding:0;
    background-color:#d5d5d5;
}
.mytunes-audio-player .mytunes-jplayer-container {
    display:none;
}

.mytunes-audio-player .prelisten {
	width:80px;
	height:20px;
	float:left;
}

.mytunes-audio-player .play,
.mytunes-audio-player .pause,
.mytunes-audio-player .stop {
    display:block;
    width:20px;
    height:20px;
    margin:0 2px;
    border:0;
    padding:0;
    text-indent:-1000px;
    background-color:transparent;
    background-position:2px 2px;
    background-repeat:no-repeat;
    float:left;
}
.mytunes-audio-player .play {
    background-image:url(../../images/mytunes/fam_control_play_blue.png);
}
.mytunes-audio-player .pause {
    background-image:url(../../images/mytunes/fam_control_pause_blue.png);
}
.mytunes-audio-player .stop {
    background-image:url(../../images/mytunes/fam_control_stop_blue.png);
}